:root {
    /* dark mode colors */
    --main-text: #abb2bf;
    --url-text: #56b6c2;
    --header-text: #ebbf6c;
    --outline: solid var(--outline-color) 1px;
    --background: #2b2f37;
    --darker-background: #25292f;
    --selection: #20232b;
    --outline-color: #777777;
}

/* light mode colors */
input:checked,
input:checked+* {
    --main-text: #000;
    --url-text: #03a5ba;
    --header-text: #f6b337;
    --outline: solid #000 1px;
    --background: white;
    --darker-background: white;
}

input {
    position: absolute;
    right: 5px;
    top: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    padding: 3px;
    padding-inline: 8px;
    text-align: center;
    font-size: 1rem;
    border-radius: 5px;
    color: var(--background);
    animation: pull 2s ease;
}

input::before {
    content: "😎"
}

input:checked::before {
    content: "😇 ";
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

ul {
    all: unset;
    list-style: none;
}

html,
body {
    width: 100%;
    font-size: 18px;
    font-family: sans-serif;
    overflow-x: hidden;
}

.container {
    color: var(--main-text);
    background-color: var(--background);
    transition: background-color 0.2s ease-in-out;
}

main {
    margin-inline: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    max-width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 60rem;
}

.about h1 {
    margin: 1rem;
    margin-top: 2rem;
    text-align: left;
    font-size: 3rem;
    color: var(--main-text);
}

strong {
    font-size: 1.1rem;
    color: var(--header-text);
}

.name {
    color: var(--header-text);
    position: relative;
    text-decoration: underline;
    text-decoration-color: var(--url-text);
}

.name:hover {
    animation: tada 1s ease-in-out;
}

.about a,
.portfolio a,
.contact a {
    color: var(--url-text);
    transition: color 0.2s ease-in-out;
}

.about p {
    text-align: justify;
    color: var(--main-text);
    transition: color 0.2s ease-in-out;
    margin-bottom: 0;
    margin: 1rem;
}

.portfolio {
    margin-top: 0;
}

.portfolio ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio li {
    align-self: flex-start;
    margin: 1rem;
    position: relative;
    max-width: 28rem;
    height: fit-content;
}

.portfolio p {
    position: relative;
    padding: 1em;
    border-inline: var(--outline);
    border-bottom: var(--outline);
    color: var(--secondary-text);
    transition: background-color 0.2s ease-in-out;
}

.portfolio a,
.contact a {
    color: var(--url-text);
    transition: color 0.2s ease-in-out;
    font-size: 1.1rem;
}

.portfolio h2 {
    color: var(--header-text);
    transition: color 0.2s ease-in-out;
    font-size: 2rem;
}

.portfolio h3 {
    background-image: var(--svg);
    border-inline: var(--outline);
    border-bottom: var(--outline);
    font-size: 1rem;
    color: var(--header-text);
    letter-spacing: 0.1rem;
    margin-block: 0.5rem;
    padding: 1rem;
    background-color: var(--selection);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.tech-icons {
    border-inline: var(--outline);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-image: var(--svg);
}

.tech-icons>* {
    display: flex;
    flex-direction: column;
    align-items: center;
}

i {
    text-align: center;
    font-size: 1.5rem;
    padding: 0.8rem;
    color: var(--header-text);
    transition: transform 0.1s linear;
}

i:hover {
    transform: scale(1.3);
}

.contact {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.contact-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact-links i {
    cursor: pointer;
    font-size: 3rem;
}

.contact-links a {
    all: unset;
    display: flex;
    align-items: center;
    margin: 1rem;
}

.contact p {
    margin: 1rem;
}

.contact h2 {
    margin: 1rem;
    text-align: center;
    font-size: 2rem;
    color: var(--header-text);
    transition: color 0.2s ease-in-out;
}