:root {
    /* dark mode colors */
    --main-text: #abb2bf;
    --url-text: #56b6c2;
    --header-text: #ebbf6c;
    --outline: solid var(--outline-color) 1px;
    --background: #282c34;
    --darker-background: #25292f;
    --selection: #20232b;
    --outline-color: #777777;
    --background-gradient: linear-gradient(to bottom,
            var(--darker-background)0%, var(--background)50%, var(--darker-background)100%);
}

input:checked,
input:checked+* {
    /* light mode colors */
    --main-text: #000;
    --url-text: #009baf;
    --header-text: #000;
    --outline: solid #000 1px;
    --background: #fafafa;
    --darker-background: #fff;
    --selection: white;
}

input {
    transform: rotate(0, 0, 0, 0 20deg);
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--header-text);
}

input::before {
    content: "😎";
}

input:checked::before {
    content: "😇";
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

ul {
    all: unset;
    list-style: none;
}

html,
body {
    width: 100%;
    font-size: 16px;
    font-family: sans-serif;
    overflow-x: hidden;
}

.container {
    color: var(--main-text);
    background-color: var(--background);
    transition: background-color 0.2s ease-in-out;
}

main {
    margin-inline: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    max-width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 60rem;
}

.about h1 {
    margin: 1rem;
    margin-top: 2rem;
    text-align: left;
    font-size: 3rem;
    color: var(--main-text);
}

strong {
    font-size: 1.1rem;
    color: var(--header-text);
}

.name {
    color: var(--header-text);
    position: relative;
    text-decoration: underline;
    text-decoration-color: var(--url-text);
}

.about a,
.portfolio a,
.contact a {
    color: var(--url-text);
}

.about p {
    text-align: justify;
    color: var(--main-text);
    margin: 1rem;
}

.portfolio ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio li {
    align-self: flex-start;
    margin: 1rem;
    position: relative;
    max-width: 28rem;
    height: fit-content;
}

.portfolio p {
    background-color: var(--darker-background);
    padding: 1em;
    border-inline: var(--outline);
    border-bottom: var(--outline);
    position: relative;
}

.portfolio a,
.contact a {
    color: var(--url-text);
    font-size: 1.1rem;
}

.portfolio h2 {
    color: var(--header-text);
    font-size: 2rem;
}

.portfolio h3 {
    border-inline: var(--outline);
    border-bottom: var(--outline);
    font-size: 1rem;
    color: var(--header-text);
    letter-spacing: 0.1rem;
    margin-block: 1rem;
    padding: 1rem;
    padding-top: 2rem;
    background-color: var(--selection);
}

.tech-icons {
    position: absolute;
    top: -7px;
    left: 7px;
    z-index: 1;
    width: fit-content;
    display: flex;
}

.tech-icons>* {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
}

i {
    text-align: center;
    font-size: 1.8rem;
    transition: transform 0.2s;
}

i:hover {
    transform: scale(1.1);
}

.contact {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.contact-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact-links i {
    cursor: pointer;
    font-size: 5rem;
}

.contact-links a {
    all: unset;
    display: flex;
    align-items: center;
    margin: 1rem;
}

.contact p {
    margin: 1rem;
}

.contact h2 {
    margin: 1rem;
    text-align: center;
    font-size: 2rem;
    color: var(--header-text);
}