:root {
    --outline: solid var(--pink) 1px;
    --background: #282c34;
    --darker-background: #25292f;
    --foreground: #abb2bf;
    --selection: #20232b;
    --comment: #5c6370;
    --cyan: #56b6c2;
    --green: #98c379;
    --orange: #d19a66;
    --pink: #c678dd;
    --red: #e06c75;
    --yellow: #ebbf6c;
    --gradient: repeating-linear-gradient(to right,
            var(--pink) 0%,
            var(--cyan) 10%,
            var(--green) 20%,
            var(--orange)30%,
            var(--yellow) 40%,
            var(--pink) 50%,
            var(--cyan) 70%,
            var(--red) 80%,
            var(--yellow) 90%,
            var(--pink) 100%);
    --background-gradient: linear-gradient(to bottom,
            var(--darker-background)0%, var(--background)50%, var(--darker-background)100%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    all: unset;
    list-style: none;
}

html,
body {
    overflow: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    margin: auto;
    width: 100%;
    color: var(--foreground);
    overflow-x: hidden;
    background-color: var(--background);
}

footer {
    width: 100%;
    color: var(--foreground);
    background-color: var(--background-gradient);
    letter-spacing: 0.2rem;
    text-align: center;
    padding-block: 1rem;
}

header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    max-width: 1650px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 5px;
    margin: 1rem;
}

h1,
h2,
h3,
p,
li {
    margin: 1rem;
}

.about h1 {
    font-size: 4rem;
    color: var(--yellow);
}

strong {
    font-size: 1.1rem;
    color: var(--yellow);
}

.name {
    font-size: 6rem;
    background: var(--gradient);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rotateGradient 10s linear infinite;
    background-position-x: 0;
}

@keyframes rotateGradient {
    0% {
        background-position-x: 0
    }

    50% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 0
    }
}

.about a,
.portfolio a,
.contact a {
    color: var(--cyan);
    font-size: 1.1rem;
}

.about p {
    border-inline: var(--outline);
    border-bottom: var(--outline);
    padding: 1em;
    color: var(--foreground);
    margin-block: 2rem;
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.1);
}

.portfolio ul {
    display: flex;
    flex-wrap: wrap;
}

.portfolio li {
    margin-block: 2rem;
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.1);
    position: relative;
    max-width: 30rem;
    height: fit-content;
}

.portfolio p {
    background-color: var(--darker-background);
    padding: 1em;
    border-width: 2px;
    border-style: solid;
    border-image-source: var(--gradient);
    border-image-slice: 1;
    border-image-repeat: round;
    position: relative;
}

.portfolio a,
.contact a {
    color: var(--cyan);
    font-size: 1.1rem;
}

.portfolio h2 {
    color: var(--yellow);
    font-size: 2rem;
}

.portfolio h3 {
    border-inline: var(--outline);
    border-bottom: var(--outline);
    font-size: 1rem;
    color: var(--yellow);
    letter-spacing: 0.1rem;
    margin-block: 1rem;
    padding: 1rem;
    padding-top: 2rem;
    background-color: var(--selection);
}

.tech-icons {
    position: absolute;
    top: -10px;
    left: 20px;
    z-index: 1;
    width: fit-content;
    display: flex;
}

.tech-icons>* {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
}

i {
    text-align: center;
    font-size: 2rem;
}

.contact {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.contact p {
    margin-block: 2rem;
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.1);
    border-inline: var(--outline);
    border-bottom: var(--outline);
    padding: 1em;
    color: var(--foreground);
}

.contact-links {
    display: flex;
    align-items: center;
    font-size: 10rem;
}

.contact-links a {
    all: unset;
    display: flex;
    align-items: center;
    margin: 1rem;
}

.contact h2 {
    font-size: 3rem;
    color: var(--yellow);
}